In [2]:
import scipy, pandas as pd, numpy as np
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv("extracted_by_year/2006_extracted/2006tmax.csv")
df.head()

,OID_,ZCTA5CE20,AFFGEOID20,GEOID20,NAME20,LSAD20,ALAND20,AWATER20,ORIG_FID,tmaxJan01,...,tmaxDec22,tmaxDec23,tmaxDec24,tmaxDec25,tmaxDec26,tmaxDec27,tmaxDec28,tmaxDec29,tmaxDec30,tmaxDec31
0,1,15301,860Z200US15301,15301,15301,Z5,315861121.0,709775.0,0,5.577000,...,8.703,11.922,7.904000,6.572,8.467,7.580000,4.295,7.025,11.838,12.255000
1,2,15658,860Z200US15658,15658,15658,Z5,238683518.0,759690.0,1,4.707000,...,8.455,11.095,8.572000,7.214,8.788,7.958000,4.449,7.661,11.458,12.299000
2,3,15601,860Z200US15601,15601,15601,Z5,208874774.0,337008.0,2,4.968000,...,8.779,11.747,8.216000,6.497,8.777,8.112001,3.893,7.177,11.703,12.038000
3,4,30114,860Z200US30114,30114,30114,Z5,246536321.0,17044903.0,5,14.021000,...,12.283,16.941,16.240999,16.254,10.649,4.665000,10.636,13.064,15.203,14.262999
4,5,30281,860Z200US30281,30281,30281,Z5,179405961.0,2749692.0,6,16.273001,...,13.935,17.869,17.568001,15.255,14.067,6.109000,11.534,13.873,16.972,13.772000

In [31]:
summary = df.copy()
for name in list(df):
    if name[:4] != "tmax" and name != "GEOID20":
        summary = summary.drop(name, axis=1)
summary.dtypes

GEOID20        int64
tmaxJan01    float64
tmaxJan02    float64
tmaxJan03    float64
tmaxJan04    float64
              ...
tmaxDec27    float64
tmaxDec28    float64
tmaxDec29    float64
tmaxDec30    float64
tmaxDec31    float64
Length: 366, dtype: object

In [34]:
stats = summary.loc[:, summary.columns!='GEOID20'].apply(pd.DataFrame.describe, axis=1)

In [45]:
stats["upper"] = stats["mean"]+1.645*stats["std"]
stats.head()

,count,mean,std,min,25%,50%,75%,max,upper
0,365.0,16.520096,9.430508,-4.999,8.834000,17.312000,24.367001,33.532001,32.033282
1,365.0,16.307131,9.367957,-5.781,8.455000,17.455999,24.287001,32.573002,31.717422
2,365.0,16.391200,9.310521,-5.475,8.777000,17.570999,24.052000,32.738998,31.707008
3,365.0,22.345564,8.216849,2.168,16.051001,22.377001,29.348000,36.076000,35.862282
4,365.0,23.371003,8.165938,3.609,17.127001,23.563999,30.382999,36.875000,36.803971